/*Developer: Vanessa Bussie
  Project: GitHub Final Project*/
/* General Coding Across All Pages */
body {
  background-image: url("dna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Questrial', sans-serif;
}

header{
  padding-top: 25px;
}

p{
  color: #000033;
  text-align: center;
}

h5{
  text-align: center;
  text-shadow: 3px 3px 5px #000033;
  font-size: 1.5em;
  color: #000033;
}

.headerdiv{
  display: block;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.circles{
  border-radius: 125px;
  margin: auto;
}

/* Nav Across All Pages*/
.nav{
  font-family: 'Questrial', sans-serif;
  font-size: 1.5em;
  text-shadow: 3px 3px 5px #000033;
  border:1px solid #ccc;
  border-width:3px 0;
  list-style:none;
  margin:0;
  padding:0;
  padding-top: 10px;
  text-align:center;
  text-decoration: none;
  list-style-type: none;
  justify-content: center;
  }

.nav li{
  display:inline;
  text-decoration: none;}

.nav a {
  display:inline-block;
  text-decoration: none;
  padding:10px;
  color: white;}

.nav a:hover {
  display:inline-block;
  text-decoration: none;
  background-color:  #e6ffff;
  color: #000033;
}

/*Logo Across All Pages*/
#nameplate{
  width: 600px;
  height: 250px;
  margin-bottom: 25px;
  border-radius: 25px;
}

/*Title Bar Across All Pages*/
.title{
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  text-shadow: 3px 3px 5px #000033;
}

/*Footer Across All Pages*/
footer{
  text-align: right;
  margin-right: 10px;
}

/*Index Page*/
.clearfix{
  background-color: #bddbcc;
  font-size: 1em;
  margin: auto;
  width: 85%;
  border: 3px solid #00001a;
  padding: 10px;
  margin-bottom: 25px;
  margin-top: 25px;
  border-radius: 15px;
}

#selfie{
  max-width: 85%;
  height:450px;
  border-radius: 25px;
  box-shadow: 10px 10px #00001a;
}

/*Contact Page*/
.contactcontainer{
  font-size: 1em;
  width: 65%;
  font-weight: bold;
  margin: auto;
  margin-bottom: 25px;
  background-color: lightblue;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  padding: 20px 20px 20px 20px;

  color: #00001a;
  border-radius: 25px;
  box-shadow: 10px 10px #00001a;
  padding-bottom: 10px;
}

.submitform{
  margin-top: 15px;
}

/*Achievements*/
.card{
  max-width: 300px;
  width: 100%;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow: 10px 10px #00001a;
}

.card img{
  height: 200px;
  width: 200px;
}

.space{
  margin-top: 25px;
}

/* Education & Training Gallery Photos*/

.wrapper{
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-bottom: 25px;
  justify-content: space-around;
  background-color: #e6ffff;
  color: #000033;
  margin: 25px 25px 25px;
  border-radius: 25px;
  box-shadow: 10px 10px #00001a;
}

.columns{
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.columns img{
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 2px solid #003333;
}

/*Thank You Page*/
.thanks{
  text-align: center;
  padding-top: 25px;
  margin-bottom: 100px;
}

/*Mobile Settings*/
@media only screen and (max-width: 568px)
{.nav {
  font-family: 'Questrial', sans-serif;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;}

.nav li a {
  display: block;
  padding: 15px 5px;
  align-items: center;}

.columns{
  flex: 100%;
  max-width: 100%;
  color: #000033;
}

footer{
  font-size: 14px;
  color: white;
  text-align: center;
  padding: 10px 10px;
  font-family: 'Questrial', sans-serif}
}
